* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.v-scroll-reveal {
  visibility: hidden;
}

body{
  font-family: 'Microsoft YaHei', Arial, Helvetica, sans-serif;
}